@(titele: String)(implicit flash: play.api.mvc.Flash)

@main(titele)(flash) {
  <SELECT id="RailWay"></SELECT>
  <div id="map-canvas"></div>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script>
	// --------------------------------------------------------------------------------------------------------
	// --- GoogleMapを作成
	// --------------------------------------------------------------------------------------------------------
	var map;
	var mapOptions;

	// 初期化
	google.maps.event.addDomListener(window, 'load', initialize);

	/** GoogleMap 初期化処理 */
	function initialize() {
		mapOptions = {
	    zoom: 15,
	    scrollwheel: false,
	    center: new google.maps.LatLng(35.68159738288667,139.76475656032562)
	  };
	  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	  // GoogleMap クリック時の処理追加
	  googleMapClick();
	  // GoogleMap マウス移動時の処理追加
  	googleMapMouseMove();
		// GoogleMap マウスアウト時の処理追加
		googleMapMouseOut();
		// GoogleMap 地図移動時の処理追加
		googleMapDragend();
	}

  /** GoogleMap クリック時の処理 */
	function googleMapClick() {
	  google.maps.event.addDomListener(map, 'click', function(event){
	    console.log(event.latLng.k + '|' + event.latLng.B);
	    mapOptions = {
	      scrollwheel: !mapOptions.scrollwheel
	    };
	    map.setOptions(mapOptions);
	  });
	}

  /** GoogleMap マウス移動時の処理 */
	function googleMapMouseMove() {
	  google.maps.event.addDomListener(map, 'mousemove', function(event){
	    //console.log(event.latLng.k + '|' + event.latLng.B);
	  });

	}

	/** GoogleMap マウスアウト時の処理	 */
	function googleMapMouseOut() {
	  google.maps.event.addDomListener(map, 'mouseout', function(event){
	    mapOptions = {
	      scrollwheel: false
	    };
	    map.setOptions(mapOptions);
	  });
	}

  /** GoogleMap 地図移動時の処理 */
	function googleMapDragend() {
	  google.maps.event.addDomListener(map, 'dragend', function(event){
	    jsRoutes.controllers.AjaxController.ajaxTokyoMetoroAPIExecute("odpt:Train").ajax({
	      beforeSend: function() {},
	      complete: function() {},
	      success: function(result) {
	        console.log(JSON.parse(result));
	      },
	      error: function(result) {
	        window.alert("エラーが発生しました。画面を更新して頂くか、時間をおいてから再度お試し下さい。");
	        $("#map-canvas").append("<p>エラーが発生しました。画面を更新して頂くか、時間をおいてから再度お試し下さい。</p>");
	        console.log("error : " + result)
	      }
	    });
	  });
	}

	// --------------------------------------------------------------------------------------------------------
	// --- TokyoMetoroAPI処理を作成
	// --------------------------------------------------------------------------------------------------------
  // 路線一覧を取得し、選択リストを作成する
  executeRailway();

  /** 路線一覧を取得する */
	function executeRailway() {
	  jsRoutes.controllers.AjaxController.ajaxTokyoMetoroAPIExecute("odpt:Railway").ajax({
      beforeSend: function() {},
      complete: function() {},
      success: function(result) {
				var railWay = JSON.parse(result);
				for (i in railWay) {
					$("#RailWay").append($('<option>').html(railWay[i].dc_title + "線").val(railWay[i].dc_title));
				}
      },
      error: function(result) {
        window.alert("エラーが発生しました。画面を更新して頂くか、時間をおいてから再度お試し下さい。");
        $("#map-canvas").append("<p>エラーが発生しました。画面を更新して頂くか、時間をおいてから再度お試し下さい。</p>");
        console.log("error : " + result)
      }
    });
	}

	$("#RailWay").change(function() {
    jsRoutes.controllers.AjaxController.ajaxTokyoMetoroAPIExecute("odpt:Train", this.value).ajax({
      beforeSend: function() {},
      complete: function() {},
      success: function(result) {

      },
      error: function(result) {
        window.alert("エラーが発生しました。画面を更新して頂くか、時間をおいてから再度お試し下さい。");
        $("#map-canvas").append("<p>エラーが発生しました。画面を更新して頂くか、時間をおいてから再度お試し下さい。</p>");
        console.log("error : " + result)
      }
    });
	});

	</script>
}
