@(title: String)(flash: play.api.mvc.Flash)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title - TEXT</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    <!-- Loading Bootstrap -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="@routes.Assets.at("css/flat-ui.min.css")" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("js/html5shiv.js")"></script>
      <script src="@routes.Assets.at("js/respond.min.js")"></script>
    <![endif]-->
    <!-- Load JS here for greater good =============================-->
    <script src="@routes.Assets.at("js/jquery.min.js")"></script>
    <script src="@routes.Assets.at("js/flat-ui.min.js")"></script>
    <script src="@routes.Assets.at("js/application.js")"></script>
    <script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
  </head>
  <body>

   <div class="container-fluid">

      <div class="row demo-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">東京メトロ 列車位置情報</a>
            </div>
          </nav>
        </div>
      </div>

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          @flash.get("success").map { message => <div class="alert alert-success">@message</div> }
          @flash.get("warning").map { message => <div class="alert alert-warning">@message</div> }
          @flash.get("error").map   { message => <div class="alert alert-danger">@message</div> }
          @content
        </div>
      </div>

    </div>

    <hr>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h3 class="footer-title">TEXT</h3>
            <p>Copyright © 2014 <a href="https://twitter.com/omiend" target="_blank">&#64;omiend</a> All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
