@(title: String)(flash: play.api.mvc.Flash)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title - TEXT</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    <!-- Loading Bootstrap -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="@routes.Assets.at("css/flat-ui.min.css")" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("js/html5shiv.js")"></script>
      <script src="@routes.Assets.at("js/respond.min.js")"></script>
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    var map;
    var mapOptions;
    /**
     * 初期化
     */
    function initialize() {
      mapOptions = {
        zoom: 12,
        scrollwheel: false,
        center: new google.maps.LatLng(35.68159738288667,139.76475656032562)
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      /**
       * クリック時の処理
       */
      google.maps.event.addDomListener(map, 'click', function(event){
        console.log(event.latLng.k + '|' + event.latLng.B);
        mapOptions = {
          scrollwheel: !mapOptions.scrollwheel
        };
        map.setOptions(mapOptions);
      });
      /**
       * マウス移動時の処理
       */
      google.maps.event.addDomListener(map, 'mousemove', function(event){
        //console.log(event.latLng.k + '|' + event.latLng.B);
      });
      /**
       * マウスアウト時の処理
       */
      google.maps.event.addDomListener(map, 'mouseout', function(event){
        mapOptions = {
          scrollwheel: false
        };
        map.setOptions(mapOptions);
      });
      /**
       * マウスアウト時の処理
       */
      google.maps.event.addDomListener(map, 'dragend', function(event){
        console.log(map.getCenter())
        jsRoutes.controllers.AjaxController.ajaxTokyoMetoroAPIExecute(map.getCenter().k, map.getCenter().B).ajax({
          beforeSend: function() {},
          complete: function() {},
          success: function(result) {
            console.log("success : " + result)
          },
          error: function(result) {
            window.alert("エラーが発生しました。画面を更新頂くか、時間をおいてから再度お試し下さい。");
            $("#map-canvas").append("<p>エラーが発生しました。画面を更新頂くか、時間をおいてから再度お試し下さい。</p>");
            console.log("error : " + result)
          }
        });

      });
    }
    // 初期化
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

   <div class="container-fluid">

      <div class="row demo-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">Flat UI</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#fakelink">Menu Item<span class="navbar-unread">1</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
                <li><a href="#fakelink">About Us</a></li>
               </ul>
               <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          @flash.get("success").map { message => <div class="alert alert-success">@message</div> }
          @flash.get("warning").map { message => <div class="alert alert-warning">@message</div> }
          @flash.get("error").map   { message => <div class="alert alert-danger">@message</div> }
          @content
        </div>
      </div>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h3 class="footer-title">TEXT</h3>
            <p>Copyright © 2014 <a href="https://twitter.com/omiend" target="_blank">&#64;omiend</a> All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="@routes.Assets.at("js/jquery.min.js")"></script>
    <script src="@routes.Assets.at("js/flat-ui.min.js")"></script>
    <script src="@routes.Assets.at("js/application.js")"></script>
    <script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
  </body>
</html>
